.properties-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    gap: 1.3rem;
}


.properties-container{
    width: 100%;
    max-width: 1200px; /* Adjust max-width as needed */
    padding: 20px;
}
/* .properties-container .search-bar{
    width: clamp(12rem, 100%, 28rem);
    border-radius: 30px;
    border: 1px solid rgba(120, 120, 120, 0.374);
    flex-wrap: nowrap;
} */
.properties-container .properties{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid with minimum item width of 250px */
    grid-gap: 20px; /* Gap between grid items */
}

/* .properties-container .search-bar .button{
    border-radius: 30px;
    font-size: 12px;
    padding: 10px 15px;
} */

/* .properties-container .search-bar input{
    width: 70%;
} */